body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid red;
}

.grids {
  display: inline-block;
}

.grids:hover {
  background-color: black;
}

.changeGrid {
  margin-bottom: 24px;
}

.settings {
  margin-top: 20px;
}